[submodule "deps/nob.h"]
	path = deps/nob.h
	url = git@192.168.1.10:hosted/nob.h
[submodule "deps/ungrateful"]
	path = deps/ungrateful
	url = git@192.168.1.10:repos/ungrateful
[submodule "deps/JSONTestSuite"]
	path = deps/JSONTestSuite
	url = https://github.com/nst/JSONTestSuite
